* {
margin: 0px;
padding: 0px;
}

body {
background-color: white;


}

@media screen and (min-width: 480px) {
  body {
    background-color: white;
  }
}

.logo p {
  padding: 5px;
  font-size: 15px;
  font-family:"Open Sans";
  height: 50px;
  display: flex;
  align-items: flex-start;
  float: right;
  margin-right:10px;
  margin-bottom:10px;
  margin-top:0px
}

.logo img {
  height: 50px;
  width: 50px;
  padding: 5px;
  align-items:left;
}
/* tilføjer logo */
.headerbillede img {
  width: 100%;
  height: 600px;
  background-size: cover;
}
.topnav {
  background-color: #333;
  overflow: hidden;
}
/* tilføjer sort baggrund til top navigationen */


.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 15px;
  font-family: "Open sans";
  font-weight: 300;
  width: 30%;
}
/* styler links inden i navigation bar */

.topnav a: hover {
  background-color: #ddd;
  color: black;

}
/* skifter farven på links ift hover*/


.topnav a.active {
  background-color: #EECBD3;
  color: white;

}
/* tilføjer en farve til det aktive link */

.topnav .icon {
  display: none;
}
/* skjuler linket som skal åben og lukke i topnav på små skærme*/
.texta: {
  color: black;
  text-align: center;



}
.skifttype {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  font-size: 30px;
}

.brodtekst {
  font-family: "Open sans";
  font-size: 15px;
  font-weight: 400;
  text-align: center;
  border-radius: 30px;
  margin-left: 75px;
  margin-right: 75px;

}

.minekompetencer {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  font-size: 30px;
  font-weight: 300;
  margin-top: 140px;
  margin-bottom: 50px;


}
.ommig {
  font-family:'Open Sans', sans-serif;
  text-align: center;
  font-size: 30px;
  margin-top: 180px;
  margin-bottom: 50px;
  font-weight: 300;


}

.kompetencer {
  width: 100%;
  display: flex;
  justify-content:space-around;
}
.kompetencebox{
  background-color: #EADBDB;
  border: 1px solid #707070;
  width: 250px;
  height: 350px;
  padding: 16px;
  display:flex;
  align-items: center;
  flex-direction: column;
}
.kompetencebox h3 {
  font-family:"Open Sans";
  font-weight: 600;
  font-size: 20px;
}

.kompetencebox p {
  font-family: "Open Sans";
  font-weight: 300;
  font-size: 15px;
}


.billedraekke {
display: flex;
justify-content: space-around;
align-items: center;
align-content: center;
margin-top: 30px;
border: 25px;
}

.column {
width: ;
padding: 10px;
margin: 106px;
align-self: center;
}

.btn {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  text-decoration: none;
  justify-content: space-around;
  font-family: "Open Sans";
  font-size: 15px;
  font-weight: 300;
  background-color: black;
  color: white;
  border-radius: 30px;
  padding: 10px;
  width: 200px;
  align-self: center;
  }
.tekst-fotografi {
  font-family:'Open Sans', sans-serif;
  text-align: center;
  font-size: 30px;
  margin: 40px;
  font-weight: 300;
}
.content-allign {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.fotografi {
  width: 700px;
  height: 700px;
  display: grid;
  grid-template-columns: 1fr 1fr ;
  grid-template-rows: 0fr 0fr;
  grid-template-areas:
    ". . . smykke fyr . . ."
    ". . . pige fyr . . .";
}
.fyr {
  width: 350px;
  height: 500px;
  grid-area: fyr;
  background-color: lime;
}

.fyr img {
  width: 100%;
  height: 100%;
}
.smykke {
  width: 350px;
  height: 250px;
  grid-area: smykke;
  background-color: yellow;
}
.smykke img {
  width: 100%;
  height: 100%;

}
.pige {
  width: 350px;
  height: 250px;
  grid-area: pige;
  background-color: blue;
}
.pige img {
  width: 100%;
  height: 100%;
}



.semere {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Open Sans";
  font-size: 15px;
  font-weight: 300;
  background-color: black;
  color: white;
  border-radius: 30px;
  padding: 10px;
  width: 200px;
  align-self: center;
  margin: 20px;
}

.illustation {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family:'Open Sans', sans-serif;
  text-align: center;
  font-size: 30px;
  font-weight: 300;
  margin: 40px;
}

.mockup {
  font-family:'Open Sans', sans-serif;
  text-align: center;
  font-size: 30px;
  margin: 40px;
  font-weight: 300;
}
.mockup1 img {
  width: 600px;
  height: 250px;
  align-items: center;
  padding: 5px;
  margin: 5px;
}
.mereknap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Open Sans";
  font-size: 15px;
  font-weight: 300;
  background-color: black;
  color: white;
  border-radius: 30px;
  padding: 10px;
  width: 200px;
  align-content: center;
  align-self: center;
}

.kontakt {
  text-align: center;
  text-decoration: none;
  color: black;
  font-size: 30px;
  font-weight: 300;
  font-family: "Open Sans";
  margin-top: 50px;
  margin-bottom: 50px;

}
.kontakt-brodtekst {
  color: black;
  font-family: "Open Sans";
  font-size: 15px;
  font-weight: 400;
  text-align: center;
  background-color:
}

.kontakt-tykskrift {
  olor: black;
  font-family: "Open Sans";
  font-size: 15px;
  font-weight: 400;
  text-align: center;
  margin: 40px;
}
.projekt label {
  font-size: 15px;
  font-weight: 400;
  font-family: "Open Sans";

}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc; /* Grå border */
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical
  color: black;
  font-family: "Open Sans";
  font-size: 15px;
  font-weight: 400;
}


input[type=submit] {
  background-color: black;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* Når man kører mussen over "submit" knappen og tilføjer en mørkere farve  */
input[type=submit]:hover {
  background-color: #EECBD3;
}

/* Tilføjer en baggrundsfarve og noget padding omkring formularen */
.kontaktformular {
  border-radius: 5px;
  background-color: lightgray;
  padding: 20px;
}


.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  gap: 9px 0px;
  grid-template-areas:
    "pic1 pic1 pic pic"
    "pic2 pic2 pic pic"
    "pic3 pic3 pic4 pic4"
    "pic3 pic3 pic5 pic5"
    "pic3 pic3 pic5 pic5";
}
.grid-container img {
  width: 100% ;
  margin: 10px;

}
.pic { grid-area: pic; }
.pic1 { grid-area: pic1; }
.pic2 { grid-area: pic2; }
.pic3 { grid-area: pic3; }
.pic4 { grid-area: pic4; }
.pic5 { grid-area: pic5; }

.grid-container1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 9px 0px;
  grid-template-areas:
    "area1 area1 area2 area2 ."
    "area1 area1 area2 area2 ."
    "area3 area3 area2 area2 ."
    "area3 area3 area4 area4 ."
    "area5 area5 . . ."
    "area5 area5 . . ."
    ". . . . .";
}
.area1 { grid-area: area1; }
.area2 { grid-area: area2; }
.area3 { grid-area: area3; }
.area4 { grid-area: area4; }
.area5 { grid-area: area5; }

.grid-container1 img {
  width: 100%;
  height: 100%;
  content: close-quote;
}

.grid-container2 img {
  width: 100%;
  height: 100%;

}
.grid-container2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1.1fr 1fr 1.1fr 0.9fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 10px 10px;
  grid-template-areas:
    ". ill1 ill1 ill1 ill3 ill3 ."
    ". ill1 ill1 ill1 ill3 ill3 ."
    ". ill4 ill4 . . ill2 ."
    ". ill4 ill4 . . ill2 ."
    ". ill5 ill5 . ill6 ill6 ."
    ". ill5 ill5 . ill6 ill6 ."
    ". ill7 ill7 . ill8 ill8 ."
    ". . . . . . .";
}

.ill1 { grid-area: ill1; }

.ill2 { grid-area: ill2; }

.ill3 { grid-area: ill3; }

.ill4 { grid-area: ill4; }

.ill5 { grid-area: ill5; }

.ill6 { grid-area: ill6; }

.ill7 { grid-area: ill7; }

.ill8 { grid-area: ill8; }

.grid-container3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 15px 0px;
  grid-template-areas:
    ". mockup1 mockup1 ."
    ". mockup2 mockup2 ."
    ". mockup3 mockup3 ."
    ". mockup4 mockup4 ."
    ". . . ."
    ". . . .";
}
.mockup1 { grid-area: mockup1; }
.mockup2 { grid-area: mockup2; }
.mockup3 { grid-area: mockup3; }
.mockup4 { grid-area: mockup4; }

.grid-container3 img{
width: 100%;
}

.grid-container4 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 15px 0px;
  grid-template-areas:
    ". sm1 sm1 ."
    ". sm2 sm2 ."
    ". sm3 sm3 ."
    ". sm4 sm4 ."
    ". . . ."
    ". . . .";
}
.sm1 { grid-area: sm1; }
.sm2 { grid-area: sm2; }
.sm3 { grid-area: sm3; }
.sm4 { grid-area: sm4; }

.grid-container4 img{
  width: 100% ;
}

.footer {
  display: flex;
  align-items:center;
  justify-content:center;
  height: 60px;
  width: 100%;
  background-color: #EECBD3;
  color: white;
  text-align: center;
}
